@view-transition {
    navigation: auto;
}

h1 {
    view-transition-name: title;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px 0;
    text-align: left;
}

tbody tr {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    view-transition-name: auto;
    view-transition-name: attr(id type(<custom-ident>), none);

    &:hover {
        background-color: #f5f5f5;
    }
}

thead th,
label {
    view-transition-class: table-header;
}

tbody tr.active-row {
    td:nth-of-type(1) {
        view-transition-name: name;
    }

    td:nth-of-type(2) {
        view-transition-name: age;
    }

    td:nth-of-type(3) {
        view-transition-name: address;
    }

    td:nth-of-type(4) {
        view-transition-name: city;
    }

    td:nth-of-type(5) {
        view-transition-name: country;
    }
}


table:has(.active-row) tbody tr:not(.active-row) {
    view-transition-class: inactive-row;
}


.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    padding: 12px 0;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#name {
    view-transition-name: name;
}

#age {
    view-transition-name: age;
}

#address {
    view-transition-name: address;
}

#city {
    view-transition-name: city;
}

#country {
    view-transition-name: country;
}

.label-name,
[for="name"] {
    view-transition-name: label-name;
}

.label-age,
[for="age"] {
    view-transition-name: label-age;
}

.label-address,
[for="address"] {
    view-transition-name: label-address;
}

.label-city,
[for="city"] {
    view-transition-name: label-city;
}

.label-country,
[for="country"] {
    view-transition-name: label-country;
}

html:active-view-transition-type(forward) {
    &::view-transition-group(.inactive-row) {
        animation-name: fade-out;
        animation-duration: 0.1s;
    }

    &::view-transition-group(.table-header) {
        z-index: 1;
    }
}

html:active-view-transition-type(back) {
    &::view-transition-group(.inactive-row) {
        animation-name: fade-in;
        animation-duration: 0.35s;
        animation-delay: .35s;
        animation-timing-function: ease-out;
    }
}

::view-transition-group(*) {
    animation-duration: .35s;
}

::view-transition-old(*),
::view-transition-new(*) {
    width: fit-content;
    height: 100%;
}