.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
  }
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    max-width: 100%;
    height: auto;
  }